{% include 'base.html' %}


<h4>These are your Buckets</h4>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="{{ url_for('bucketlist') }}">
          <img src="{{ url_for('static', filename ='images/bucketList.jpg') }}" alt="Trolltunga Norway" width="300" height="200">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="{{ url_for('bucketlist') }}">
          <img src="{{ url_for('static', filename ='images/bucketList.jpg') }}" alt="Trolltunga Norway" width="300" height="200">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>


    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="{{ url_for('bucketlist') }}">
          <img src="{{ url_for('static', filename ='images/bucketList.jpg') }}" alt="Forest" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="{{ url_for('bucketlist') }}">
          <img src="{{ url_for('static', filename ='images/bucketList.jpg') }}" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="{{ url_for('bucketlist') }}">
          <img src="{{ url_for('static', filename ='images/bucketList.jpg') }}" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="{{ url_for('newbucket') }}">
          <img src="{{ url_for('static', filename ='images/images.jfif') }}" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">Add a description of the Bucket List here</div>
      </div>
    </div>

    <div class="clearfix"></div>

    
