{% include 'base.html' %}
<div class="stand">
  <div class="outer-screen">
    
        <div class="container">
            <section class="todo">
                <ul class="todo-controls">
                    <li><a href="{{ url_for('newbucketlist') }}"><i class="material-icons">add</i></a></li>
                    <li class="right"><a href="" ><i class="material-icons">delete</i></a></li>
                </ul>            
                <ul class="todo-list">
                    <li class="done">
                        <input type="checkbox" id="find" checked disabled/> 
                        <label class="toggle" for="find"></label>
                        Find an idea.
                    </li>
                    <li>
                        <input type="checkbox" id="build"/> 
                        <label class="toggle" for="build"></label>
                        Build it!
                    </li>
                    <li>
                        <input type="checkbox" id="ship"/> 
                        <label class="toggle" for="ship"></label>
                        Ship it...<br />
                        with a line break!
                        <li class="right"><a href="" ><i class="material-icons">delete</i></a></li>
                    </li>
                    <li>
                        <input type="checkbox" id="ship"/> 
                        <label class="toggle" for="ship"></label>
                        Ship it...<br />
                        with a line break!
                    </li>
                    <li class="right"><a href="" ><i class="material-icons">delete</i></a></li>
                </ul>
                
                
            </section>
        </div>
   
  </div>
</div>