{% include 'base.html' %}

<h1>Register</h1>

<div class="stand">
  <div class="outer-screen">
    
      <div class="form">
        <input type="text" class="zocial-dribbble" placeholder="Enter your First name" />
        <input type="text" class="zocial-dribbble" placeholder="Enter your Last name" />
        <input type="text" placeholder=" Password" />
        <input type="text" placeholder=" Confirm Password" />
         <input type="submit" value="Register" />
       
      </div> 
     
  </div> 
</div>
  