{% extends "base.html" %}
{% block  body %}
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1 >Welcome, Sarah Mbaka.</h1>

							</header>
							<a href="#" class="icon fa fa-plus fa-lg"  data-toggle="modal" data-target="#myModal"> Add Bucket</a>
							<section class="tiles">

                                {% for bucket in buckets %}
								<article class="style1">
									<span class="image">
										<img src="static/image/pic01.jpg" alt="" />
									</span>
									<a href="/bucketlist/{{ bucket.name }}">
										<h2>{{ bucket.name }}</h2>

										<div class="content">
											<p>{{ bucket.description }}</p>

										</div>

									</a>
								</article>
                                {% endfor %}


							</section>
						</div>
					</div>

				{% endblock %}