{% extends "base.html" %}
{% block  body %}

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1 >{{bucket}}</h1>
							<div class="table-wrapper">
                                <a class="icon fa fa-plus fa-lg"  data-toggle="modal" data-target="#additem">Add Item</a>
								<table class="alt">
									<thead>
										<tr>
											<th>Name</th>
											<th>Description</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
									{% for item in bucketitem %}
										<tr>
											<td> {{ item.name }}</td>
											<td> {{ item.description }}</td>
											<td><i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal" data-target="#edititem"></i>
											<a href="/delitem/{{ item.name }}">  <i class="fa fa-trash-o" aria-hidden="true"></i>
											</a></td>
										</tr>
									{% endfor %}

										
										<tr>
											<td>Item Four</td>
											<td>Vitae integer tempus condimentum.</td>
											<td>19.99</td>
										</tr>
										<tr>
											<td>Item Five</td>
											<td>Ante turpis integer aliquet porttitor.</td>
											<td>29.99</td>
										</tr>
									</tbody>

								</table>
							</div>
						</div>
					</div>

{% endblock %}
